.Xauthority
.android
.cache
.dotnet
.gnupg
.go
.histfile
.node_repl_history
.npm
.nuget
.password-store
.pki
.python_history
.sqlite_history
.ssh
.templateengine
.texlive
.zen

arc
audio
dl
doc
pic
video
work
