{{- $theme := .user.colors.theme }}
{{- $usage := $theme.usage }}
{{- $named := $theme.named }}
anchor = bottom right
timeout = 1000

[style.volume]
background_color = {{ $usage.overlay }}
bar_color = {{ $named.teal }}
border_color = {{ $named.teal }}
