{{- $theme := .user.colors.theme }}
{{- $usage := $theme.usage }}
{{- $named := $theme.named }}
[main]
dpi-aware = auto
exit-on-keyboard-focus-loss = no
font = monospace:size=13
match-mode = fzf
#icon-theme =
icons-enabled = no
inner-pad = 4
lines = 20
layer = overlay
prompt = '> '
show-actions = no
terminal = '{{ .user.programs.terminal }} --'
width = 45

[border]
width = 1
radius = 0

[colors]
background = {{ $usage.background }}ff
border = {{ $named.purple }}ff
match = {{ $named.orange }}ff
text = {{ $usage.foreground }}ff
prompt = {{ $named.slate }}ff
input = {{ $usage.foreground }}ff
selection = {{ $usage.foreground }}ff
selection-match = {{ $named.orange }}ff
selection-text = {{ $usage.contrastBackground }}ff

[dmenu]
mode = text
exit-immediately-if-empty = no

[key-bindings]
cancel = Escape
execute = Return KP_Enter
execute-or-next = Tab

# vim:ft=confini:
