input {
    #kb_file = 
    kb_layout = cn
    kb_model = pc105
    kb_options = 
    kb_rules = 
    kb_variant = 

    numlock_by_default = true
    repeat_delay = 300
    repeat_rate = 25

    accel_profile = flat
    force_no_accel = false
    left_handed = false
    natural_scroll = false
    scroll_button_lock = false
    scroll_button = 0
    scroll_factor = 1.0
    scroll_method = 2fg
    #scroll_points = 
    sensitivity = 0

    resolve_binds_by_sym = false

    touchpad {
        disable_while_typing = false
        middle_button_emulation = false
        natural_scroll = true
        tap-and-drag = true
        tap_button_map = lrm
        tap-to-click = true
    }
}
