[Settings]
gtk-theme-name = {{ .user.themes.gtk }}
gtk-icon-theme-name = {{ .user.themes.icon }}
gtk-font-name = system-ui 16
gtk-cursor-theme-name = {{ .user.themes.cursor }}
gtk-application-prefer-dark-theme = true

# vim:ft=confini:
