[Settings]
gtk-theme-name = {{ .user.themes.gtk }} #@reference_tag(gtk_theme)
gtk-icon-theme-name = {{ .user.themes.icon }} #@reference_tag(icon_theme)
gtk-font-name = system-ui 16 #@reference_tag(font)
gtk-cursor-theme-name = {{ .user.themes.cursor }} #@reference_tag(cursor_theme)
gtk-application-prefer-dark-theme = true

# vim:ft=confini:
