Epic/
GIMP/
Kitware/
MusicBrainz/
NecroDancer/
OpenTabletDriver/Logs/
QQ/
QtProject/
QtProject.conf

dconf/user
fcitx/
fcitx5/conf/cached_layouts
fcitx5/conf/clipboard.conf
fcitx5/conf/notifications.conf
fcitx5/conf/quickphrase.conf
fcitx5/conf/spell.conf
github-copilot/
go/telemetry
godot/
gtk-3.0/bookmarks
homebank/
ibus/
kdenlive-layoutsrc
kdeglobals
kdenliverc
kritadisplayrc
kritarc
mapeditor.org/
menus/
mihomo/
obs-studio/
procps/
pulse/
qBittorrent/
whoozle.github.io/
