dconf/user
fcitx/
fcitx5/conf/cached_layouts
fcitx5/conf/clipboard.conf
fcitx5/conf/notifications.conf
fcitx5/conf/quickphrase.conf
fcitx5/conf/spell.conf
gtk-3.0/bookmarks
homebank/
ibus/
kdenlive-layoutsrc
kdenliverc
Kitware/
kritadisplayrc
kritarc
mihomo/
MusicBrainz/
obs-studio/
procps/
pulse/
qBittorrent/
QtProject.conf
whoozle.github.io/
