# Action
actions=0
#on-button-left=invoke-default-action
#on-button-middle=none
#on-button-right=dismiss
#on-notify=none
#on-touch=none

# Color #@reference_tag(color)
background-color=#1a1b26ff
text-color=#ebdbb2ff
#progress-color=source #037336ff

# Icon
icons=0
#icon-location=left
#max-icon-size=12

# Misc
history=1
max-history=5
max-visible=4
layer=overlay
output=
sort=-time

# Style
anchor=top-right
border-radius=0
group-by=none
height=200
width=300
outer-margin=0
padding=5

# TextStyle
#@reference_tag(font)
font=monospace 14
format=<b>%s</b>\n%b
markup=1
text-alignment=left

# Timeout
default-timeout=2500
ignore-timeout=0

[urgency=low]
border-color=#0c9cf7ff

[urgency=normal]
border-color=#fadb2fff

[urgency=critical]
border-color=#cc241dff
default-timeout=0

[mode=NoBother]
invisible=1
