
# TEMPLATE
prefix={{ .chezmoi.homeDir }}/.local/share/pnpm/data
global-bin-dir={{ .chezmoi.homeDir }}/.local/share/pnpm/bin
cache-dir={{ .chezmoi.homeDir }}/.local/share/pnpm/cache
state-dir={{ .chezmoi.homeDir }}/.local/share/pnpm/state
store-dir={{ .chezmoi.homeDir }}/.local/share/pnpm/store
registry=https://registry.npmmirror.com
