[general]
live_config_reload = false
ipc_socket = false

[terminal]
shell = '/bin/tmux'

[window]
dynamic_title = false

[scrolling]
history = 1024
multiplier = 5

[font]
builtin_box_drawing = true
size = 14

[colors] #@reference_tag(color)
draw_bold_text_with_bright_colors = true
[colors.primary]
background = '#1a1b26'
foreground = '#aaffaa'
[colors.normal]
black = '#1a1b26'
red = '#cd0000'
green = '#00cd00'
yellow = '#cdcd00'
blue = '#0022cd'
magenta = '#cd00cd'
cyan = '#00cdcd'
white = '#ffffff'
[colors.bright]
black = '#282828'
red = '#ff0000'
green = '#00ff00'
yellow = '#ffff00'
blue = '#0044ff'
magenta = '#ff00ff'
cyan = '#00ffff'
white = '#e5e5e5'

[cursor]
#style = {shape = 'Block', blinking = 'Off'}
thickness = 1.0

[mouse]
hide_when_typing = true
