XDG_DOCUMENTS_DIR="$HOME/{{ .user.xdgDirs.documents }}"
XDG_DOWNLOAD_DIR="$HOME/{{ .user.xdgDirs.download }}"
XDG_MUSIC_DIR="$HOME/{{ .user.xdgDirs.music }}"
XDG_PICTURES_DIR="$HOME/{{ .user.xdgDirs.pictures }}"
XDG_PUBLICSHARE_DIR="$HOME/{{ .user.xdgDirs.publicshare }}"
XDG_VIDEOS_DIR="$HOME/{{ .user.xdgDirs.videos }}"
XDG_DESKTOP_DIR="$HOME/{{ .user.xdgDirs.desktop }}"
XDG_TEMPLATES_DIR="$HOME/{{ .user.xdgDirs.templates }}"
